@using BookShop.WebUI.Areas.Admin.Models;
@model List<ProductListViewModel>

<div>
    <div class="float-start"> <h2>Ürünler</h2> </div>
    <div class="float-end"> <a asp-controller="Product" asp-action="New" class="btn btn-warning">Yeni Ürün</a> </div>
</div>

<div style="padding-top:75px">

    <table id="productTable" class="table table-striped">
        <thead>
            <tr>
                <th style="width:150px"></th>
                <th>Ürün Adı</th>
                <th>Birim Fiyatı</th>
                <th>Stok Miktarı</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @if (string.IsNullOrWhiteSpace(item.ImagePath))
                        {
                            <img width="120" height="120" src="~/images/noImage.jpg" />
                        }
                        else
                        {
                            <img width="120" height="120" src="~/images/products/@item.ImagePath" />
                        }

                    </td>

                    <td>@item.Name</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                    <td>@item.CategoryName</td>

                    <td>

                        <a asp-controller="Product" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Düzenle</a>
                        <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Sil</a>  @*AJAX(js) ILE ISTEK ATACAKSAM taghelper kullanmıyorum. *@

                    </td>

                </tr>

            }
        </tbody>

    </table>




</div>

@section Scripts{
    <script>

        var table = new DataTable('#productTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            },
            pageLength: 5
        });


        $('.btnDelete').click(function (e) {

            e.preventDefault(); // linkin yönlendirme işlemini engelledim (url'e # atmıyor. Böylelikle sayfa yukarıya kaymıyor.)

            var productId = $(this).data('id'); // Butonun içerisinde data-id şeklinde gömülen veriyi değişkene atadım.

            Swal.fire({
                title: "Emin misiniz?",
                text: "Dikkat! Ürün silinecektir.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Evet, Onaylıyorum!",
                cancelButtonText: "İptal"
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: '/admin/product/delete/' + productId,
                        method: 'GET' // url üzerinden istek attım.
                    }).done(function () {
                        Swal.fire({
                            title: "Silindi!",
                            text: "Ürün başarıyla silindi",
                            icon: "success"
                        }).then(() => { window.location.reload() })
                    }).fail(function () {
                        Swal.fire({
                            title: "Hata!",
                            text: "Ürün silinirken bir hata ile karşılaşıldı.",
                            icon: "error"
                        })
                    })




                }
            });

        })

    </script>
}